// Breakpoints
$width-xs: 375px; // Small screen phone
$width-sm: 544px; // Medium screen phone
$width-md: 768px; // Medium screen tablet
$width-lg: 1012px; // Large screen desktop
$width-xl: 1280px; // Extra large screen desktop
$width-xxl: 1536px; // Extra extra wide desktop

// Border Radius
$border-radius-1: 4px;
$border-radius-2: 6px;
$border-radius-3: 8px;
$border-radius-4: 10px;
