@use "mixins" as *;
@use "variables" as *;
@use "utils" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  font-size: var(--step--1);
  padding: 1rem;
  // max-width: $width-xxl;
  margin: 0 auto;
  transition: background-color 200ms ease, backdrop-filter 300ms ease;
  background: linear-gradient(
    to bottom,
    hsla(var(--color-background-values), 0.7),
    transparent
  );

  @include for-tablet-up {
    left: 0;
    right: 0;
    padding: 0.75rem 4vw;
  }
}

.nav-left {
  display: flex;
  gap: 2em;
  margin-right: auto;

  &__list {
    display: inline-flex;
    gap: 1em;

    a {
      text-decoration: none;
      color: inherit;

      &:global(.active) {
        font-weight: 600;
      }
    }
  }
}

.nav-right {
  color: white;
}

.nf-logo {
  margin-right: auto;

  img {
    width: clamp(5rem, 6vw, 10rem);
  }
}

.lang-selector {
  position: relative;
  margin-right: 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: $border-radius-1;

  &::before {
    position: absolute;
    top: 55%;
    left: 5%;
    transform: translateY(-50%);
    content: url(/language.svg);
    width: var(--fs-min--1);
  }

  select {
    border: none;
    background-color: transparent;
    padding: 0.2rem 0.5rem 0.2rem 1.25rem;
  }

  @include for-tablet-up {
    display: inline-block;
  }
}

.sign-in-btn {
  border: none;
  background-color: var(--color-accent);
  padding: 0.125rem 0.5rem;
  border-radius: $border-radius-1;
}

.search-btn {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

// TODO: check perf
.header-blur {
  background-color: hsla(var(--color-background-values), 0.85);
  backdrop-filter: blur(5px);
}
