@use "mixins" as *;
@use "variables" as *;

.list-container {
  padding: 0 1rem 4.5rem;

  @include for("tablet-up") {
    padding: 0;
  }
}

.slider-container {
  --scroll-snap: 1rem;

  @include for("tablet-up") {
    --scroll-snap: 50px;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;

    @include for("tablet-up") {
      margin-bottom: 5vh;
    }
  }

  h2 {
    text-transform: capitalize;
    font-size: var(--font-size-0);
    margin-bottom: 1em;

    @include for("tablet-up") {
      font-weight: 600;
      padding-left: var(--scroll-snap);
    }
  }
}

.slider-carousel {
  --cards-to-show: 3;
  --gap: 0.5rem;

  display: flex;
  gap: var(--gap);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 var(--scroll-snap);
  @extend %hide-scrollbars;

  &__column {
    flex-wrap: wrap;

    :global(.card) {
      margin: 0 !important;
      width: calc(
        100% / var(--cards-to-show) -
          ((var(--cards-to-show) - 1) / var(--cards-to-show)) * var(--gap)
      ); // pls don't do this, this is abomination
    }
  }

  @include for("small-phone-up") {
    --cards-to-show: 3;
  }

  @include for("phone-up") {
    --cards-to-show: 4;
  }

  @include for("tablet-up") {
    --cards-to-show: 5;
  }

  @include for("desktop-up") {
    --cards-to-show: 6;
  }

  @include for("big-desktop-up") {
    --cards-to-show: 8;
  }
}

.slider-carousel-wrapper {
  position: relative;
}

.slider-nav-btn {
  @include flex-center;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: var(--scroll-snap);
  border: none;
  height: 100%;
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &[disabled] {
    opacity: 0;
  }
}
