@use "mixins" as *;
@use "variables" as *;

.list-container {
  padding: 0 1rem 4.5rem;

  @include for("tablet-up") {
    padding: 0 min(4rem, 4vw) min(4rem, 4vw);
  }
}

.slider-container {
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;

    @include for("tablet-up") {
      margin-bottom: 5vh;
    }
  }

  h2 {
    text-transform: capitalize;
    font-size: var(--step-0);
    margin-bottom: 1em;

    @include for("tablet-up") {
      font-weight: 600;
    }
  }
}

.slider-carousel {
  --cards-to-show: 3;
  --gap: 0.5rem;

  display: flex;
  gap: var(--gap);
  overflow-x: scroll;
  @extend %hide-scrollbars;

  &__column {
    flex-wrap: wrap;
  }

  @include for("small-phone-up") {
    --cards-to-show: 3;
  }

  @include for("phone-up") {
    --cards-to-show: 4;
  }

  @include for("tablet-up") {
    --cards-to-show: 6;
  }

  @include for("desktop-up") {
    --cards-to-show: 8;
  }

  @include for("big-desktop-up") {
    --cards-to-show: 10;
  }
}
