@use "mixins" as *;
@use "variables" as *;

// TODO: make grids responsive
.list-section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 0 1rem;

  @include for-tablet-up {
    padding: 0 1rem 0 4vw;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;

    @include for-tablet-up {
      margin-bottom: 5vh;
    }
  }

  &:last-of-type {
    margin-bottom: 10vh; // make some room for the navbar
  }

  h2 {
    text-transform: capitalize;
    font-size: var(--step-1);

    @include for-tablet-up {
      font-size: var(--step-0);
      font-weight: 600;
    }
  }

  &__slider {
    display: grid;
    gap: 0.5rem;

    div[data-item-id] {
      position: relative;
      min-height: 195px;
      @extend %tap-transition;

      :global(.shimmer) {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-2;
      }
    }

    @supports (scrollbar-width: thin) {
      scrollbar-width: thin;
      scrollbar-color: var(--color-accent) #000;
    }
  }
}

.column-grid {
  grid-auto-columns: clamp(8rem, 12vw, 12rem);
  grid-auto-flow: column;
  overflow-x: scroll;

  @include for-tablet-up {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.row-grid {
  grid-template-columns: repeat(3, 1fr);
}
